flows/Deactivating_the_Staff_Recrods.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AllstaffRecordsUpdate</name>
        <label>AllstaffRecordsUpdate</label>
        <locationX>440</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>AllStaffRecrods</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateStaffrecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_the_staff_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>mapping_the_staff_records</name>
        <label>mapping the staff records</label>
        <locationX>440</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>updateStaffrecords.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_the_staff_records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateStaffrecords.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AllstaffRecordsUpdate</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Deactivating the Staff Recrods {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deactivating the Staff Recrods</label>
    <loops>
        <name>loop_the_staff_records</name>
        <label>loop the staff records</label>
        <locationX>352</locationX>
        <locationY>528</locationY>
        <collectionReference>Get_staff_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>mapping_the_staff_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_staff_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_contact_records</name>
        <label>get contact records</label>
        <locationX>352</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_staff_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_staff_records</name>
        <label>Get staff records</label>
        <locationX>352</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_the_staff_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Individual__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_contact_records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Staff__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_staff_records</name>
        <label>update staff records</label>
        <locationX>352</locationX>
        <locationY>984</locationY>
        <inputReference>AllStaffRecrods</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X0_hr</name>
            <connector>
                <targetReference>get_contact_records</targetReference>
            </connector>
            <label>0 hr</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllStaffRecrods</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Staff__c</objectType>
    </variables>
    <variables>
        <name>updateStaffrecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Staff__c</objectType>
    </variables>
</Flow>
