flows/Reactivated_the_Staff_records.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AllStaffRecordsUpdate</name>
        <label>AllStaffRecordsUpdate</label>
        <locationX>440</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>ReactiveAllStaffRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdateStaffRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_the_all_staff_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_the_staff_records</name>
        <label>assignment the staff records</label>
        <locationX>440</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>UpdateStaffRecords.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_the_all_staff_records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateStaffRecords.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AllStaffRecordsUpdate</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Reactivating the Staff records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reactivated  the Staff records</label>
    <loops>
        <name>Loop_the_all_staff_records</name>
        <label>Loop the all staff records</label>
        <locationX>352</locationX>
        <locationY>528</locationY>
        <collectionReference>get_staff_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignment_the_staff_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updating_the_all_staff_records_with_reactive</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_records</name>
        <label>Get Contact records</label>
        <locationX>352</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_staff_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_staff_records</name>
        <label>get staff records</label>
        <locationX>352</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_the_all_staff_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Individual__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Staff__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updating_the_all_staff_records_with_reactive</name>
        <label>updating the all staff records with reactive</label>
        <locationX>352</locationX>
        <locationY>984</locationY>
        <inputReference>ReactiveAllStaffRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X0_Hr_after</name>
            <connector>
                <targetReference>Get_Contact_records</targetReference>
            </connector>
            <label>0 Hr after</label>
            <maxBatchSize>200</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ReactiveAllStaffRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Staff__c</objectType>
    </variables>
    <variables>
        <name>UpdateStaffRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Staff__c</objectType>
    </variables>
</Flow>
